/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --clr-main: #4b33a8;
  --clr-main-dark: #18065e;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--clr-main);
}

aside {
  padding: 2rem;
  color: var(--clr-white);
  position: sticky;
  padding-right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Logo {
  font-weight: bold;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.boton-menu-boton-categoria {
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 700;
  padding: 1rem;
  font-size: 0,85rem;
}

.boton-menu-boton-categoria.active {
  background-color: var(--clr-white);
  color: var(--clr-main);
  width: 100%;
}
.boton-menu-boton-categoria > i.bi-hand-index-thumb-fill,
.boton-menu-boton-categoria > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.text-footer {
  color: var(--clr-main-dark);
  font-size: 0, 50rem;
}

main {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  font-weight: bold;
  color: var(--clr-main);
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
}

.producto-detalles {
  background-color: var(--clr-main);
  color: var(--clr-white);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--clr-white);
  padding: 0.4rem;
  color: var(--clr-main);
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
  border: 2px solid var(--clr-white);
  transition: background-color 0.3s ease;
}

.producto-agregar:hover {
  background-color: var(--clr-main);
  color: var(--clr-white);
}
